
body {
	font-family: "helvetica neue";
	color: #666;
}

li input{
	display: none;
}

li.edit span {
	display: none;
}

li.edit input {
	display: initial;
}
p.fancy {
	background-color: #ECECEC;
}

div.center {
	text-align: center;
}

.hide {
	display: none;
	position: absolute;
}

.special {
	position: absolute;
}

a.none,
a.none:hover {
	color: #333;
	text-decoration: none;
	font-size: 14px;
}