<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/main2.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="../assets/imgs/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="../assets/imgs/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="../assets/imgs/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="../assets/imgs/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/imgs/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="../assets/imgs/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/imgs/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/imgs/favicon-16.png">
        <link rel="apple-touch-icon" href="../assets/imgs/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/imgs/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/imgs/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/imgs/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/imgs/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/imgs/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/imgs/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/imgs/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/imgs/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="../assets/imgs/favicon-144.png">
        <meta name="msapplication-config" content="../assets/imgs/browserconfig.xml">
        <!-- ****** faviconit.com favicons ****** -->
        
        <title>Akbar Hirani | Angular App 1</title>
        
    </head>
    
    <body>
        <div id="includeHeader"></div>

        <div class="indent" style="background-color:{{changeColor}}">
            <div class="jumbotron2">
                <h2 class="h123">Angular Cool events:</h2>
            </div>
            <h3>Angular Event 1: Change backgroud color</h3>
            <input type="text" ng-model="changeColor" placeholder="Enter a color">
            <h4>Color:{{changeColor}}</h4>
        </div>
        <div class="indent" ng-init="list = [{name:'Akbar', age: 24},{name:'Joe', age: 25},{name:'Jacky', age: 23},{name:'Bell', age: 21}]" style="min-height:400px;">
            <div class="jumbotron2">
                <h2 class="h123">Angular: Filtering and ng-repeat without controllers</h2>
            </div>
            <input type="text" ng-model="search">
            <ul>
                <li ng-repeat="item in list | filter:search">
                    {{item.name}} - <strong>{{item.age}}</strong>
                </li>
            </ul>
        </div>





        <div class="center padd">
            <a class="btn btn-default" href="/angular/directory.html" >Next Page (Angular Directory App)</a>
        </div>

        <!-- JS scripts-->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="../js/jquery-events.js"></script>

        <script> 
            $(function(){
              $("#includeHeader").load("../header.html"); 
            });
        </script> 
        
        <!-- Latest compiled and minified JavaScript -->        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>