<!DOCTYPE html>
<html ng-app="directoryApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/main2.css">
        <link rel="stylesheet" href="../css/angularcss.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
        <script src="angularJS/directory.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="../assets/imgs/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="../assets/imgs/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="../assets/imgs/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="../assets/imgs/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/imgs/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="../assets/imgs/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/imgs/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/imgs/favicon-16.png">
        <link rel="apple-touch-icon" href="../assets/imgs/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/imgs/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/imgs/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/imgs/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/imgs/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/imgs/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/imgs/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/imgs/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/imgs/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="../assets/imgs/favicon-144.png">
        <meta name="msapplication-config" content="../assets/imgs/browserconfig.xml">
        <!-- ****** faviconit.com favicons ****** -->
        
        <title>Akbar Hirani | Angular App 1</title>
    </head>
    
    <!-- <body ng-controller="directoryController"> -->
    <body ng-controller="directoryController as dirList">
        <div id="includeHeader"></div>

        <div class="indent" style="min-height: 300px;">
            <div class="jumbotron2">
                <h2 class="h123">Angular App: Directory</h2>
            </div>
            <input type="text" ng-model="search" placeholder="Filter By Keyword">
            <input type="number" ng-model="dirList.limit" placeholder="Limit Number of Items">
            <input type="checkbox" ng-model="checkAge">Sort by Age 
            <input type="checkbox" ng-model="checkName">Sort by Name
            <br/><br/>

            <!--
            <ul ng-class="{'hidden' : !dirList.toggle}"> -->
                <!-- <li ng-repeat="item in dirList.list | filter:search 
                    | limitTo : dirList.limit 
                    | orderBy: 
                    ((checkAge && checkName) ? ['name', 'age'] : (checkAge ? ['age'] : (checkName ? ['name'] : ''))) " ng-class="item.age > 21 ? 'over-21' : 'under-21'">
                    <img ng-src="{{item.img}}" src=""/>
                    <span>{{item.name}} - <em>{{item.age}}</em></span>
                    <ng-include src="twitter.html"></ng-include>
                </li>
            </ul> -->

            <ul ng-if="dirList.toggle">
                <li ng-repeat="item in dirList.list | filter:search
                | limitTo : dirList.limit 
                    | orderBy: 
                    ((checkAge && checkName) ? ['name', 'age'] : (checkAge ? ['age'] : (checkName ? ['name'] : '')))" ng-class="item.age>21 ? 'over-21' : 'under-21'" ng-include="'twitter.html'">
                </li>
            </ul>
            <button ng-if="!dirList.toggle" ng-click="dirList.toggle = true">Show Names</button>
            <!-- <button ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show Names</button> -->
            <!-- <button ng-hide="dirList.toggle" ng-click="dirList.toggle = true">Show Names</button> -->
            <button ng-if="dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button>
            <!-- <button ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button> -->
            <!-- <button ng-hide="!dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button> -->
            <br/><br/>
            
            <form ng-submit="dirList.addPerson()">
                <input type="text" placeholder="Enter Name" ng-model="dirList.name">
                <input type="number" placeholder="Enter Age" ng-model="dirList.age">
                <input type="submit" value="submit">
            </form>
        </div>
        <div class="jumbotron2">
                <h4 class="h123">Other angular directive: </h4>
                1. ng-src: Used to fix '{' error in img src. 
                <br/>2. ng-include: Helps incude various files like html, svg, etc. Use ''.
                <br/>
                <h4 class="h123">Other angular topics coverd in this project: </h4>
                1. ng-repeat<br/>
                2. filtering: orderBy, limitTo, ternary operatoers<br/>
                3. ng-class<br/>
                4. ng-if vs ng-show vs ng-hide<br/>
                5. ng-src<br/>
                5. ngAnimate Module<br/>
            </div>


        <div class="center padd">
            <a class="btn btn-default" href="/interests/interests2.html" >Next Page (More Javascript)</a>
        </div>

        <!-- JS scripts-->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="../js/jquery-events.js"></script>

        <script> 
            $(function(){
              $("#includeHeader").load("../header.html"); 
            });
        </script> 
        
        <!-- Latest compiled and minified JavaScript -->        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>